*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  font-size: 100%;
}

body {
  font-family: 'monaco', monospace;
  background-color: #fff;
  margin: 0;
  padding: .5em;
}

a {
  color: #00B7FF;
}

