#message {
  color: rgba($primary, 0.75);
  border: 0;
  border-radius: 4px;
  background: rgba($secondary, 0.1);
  border: 1px solid $secondary;
  display: block;
  font-size: 1.5em;
  width: 100%;
  padding: 0.75rem;
  &:focus {
   outline: none;
  }
}
