#room-list {
  float: right;
  width: 20%;
  min-height: 25em;
  overflow: auto;
  background: rgba($primary, 0.5);
  padding: .5em;
}

#room-list div {
  border-bottom: 1px solid #eee;

}
#room-list div:hover {
  background-color: #ddd;
}
