// title
.site__title {
  font-size: 1.5em;
}

.blink {
  @include animation-duration(.5s);
  @include animation-name(blink);
  @include animation-iteration-count(2);
}

#content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@include keyframes(blink) {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
